#root {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App {
  width: 500px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.form input, button.button {
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button.button {
  width: 70px;
}

label {
  display: inline-block;
}

label span, label input {
  display: block;
  text-align: left;
}

label span {
  padding: 0 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tbody {
  border-radius: 25px;
  box-shadow: 0 0 0 1px #ccc;
}

th, td {
  padding: 15px 25px;
  text-align: left;
}

td.edit-item span {
  cursor: pointer;
  padding: 10px;
}
span.edit-item:hover, span.delete-item:hover {
  opacity: 0.6;
}
* {
  transition: 1s;
}
